html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(102, 193, 249);
}
button:hover {
  background-color: rgb(74, 178, 244);
}
