* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  user-select: none;
}

:root {
  --primary-color: rgb(33, 33, 33);
  --secondary-color: rgb(69, 216, 249);
  --start: rgb(23, 127, 219);
  --target: rgb(100, 0, 255);
  --neighbour: rgb(246, 112, 112);
}
main {
  display: block;
  z-index: 20;
}
h1 {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}
.inputs {
  display: grid;
  grid-template-columns: 47% 47%;
  align-items: center;
  grid-auto-rows: minmax(30px, auto);
  gap: 5px;
  margin-top: 5px;
}
.controls {
  position: fixed;
  top: 0px;
  left: 5px;
  padding: 15px;
  width: 300px;
  background-color: #e6e6e660;
  z-index: 200 !important;
}
.long {
  grid-column: span 2;
}
.keycontrol {
  display: grid;
  grid-template-columns: 47% 47%;
  gap: 8px;
  margin-bottom: 10px;
}
.item {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  div {
    display: inline-block;
  }
  cursor: pointer;
}
.key {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--primary-color);
}
button {
  margin: 2px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
}
button:hover {
  background-color: rgb(74, 178, 244);
}

.start {
  border-color: var(--start);
  span {
    background-color: var(--start);
  }
}

.target {
  border-color: var(--target);
  span {
    background-color: var(--target);
  }
}

.neighbour {
  border-color: var(--neighbour);
  span {
    background-color: var(--neighbour);
  }
}

.searching {
  background-color: var(--secondary-color);
  &:hover {
    background-color: rgb(52, 123, 255);
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  padding: 0px 5px;
  height: 20px;
  border-radius: 10px;
  background: var(--secondary-color);
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 15px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 15px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
}
.checkbox {
  margin: 0px 10px;
}
.credit {
  margin-top: 10px;
  text-align: right;
  a {
    color: var(--secondary-color);
  }
}
.toggle-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  z-index: 999 !important;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .toggle-controls {
    display: none;
  }
}
